.mw-product-toggler {
	@include toggler1;
	@include background(linear-gradient($toggler_dark 10px, shade($toggler_dark, 50%) 60px));
}


.mw_arrow {
  @include sprites-menu_go;
  float: right;
}

.mw-sortbox {
	background-color: $toggler_dark;
	margin: 5px;
	padding: 5px;
	color: $white;
	@include background(linear-gradient($toggler_dark 30%, shade($toggler_dark, 50%) 100%));

	select {
		width: 70%;
		@include background(linear-gradient($toggler_dark 30%, tint($toggler_dark, 70%) 100%));
	}
}

.mw-category-heading {
	padding-left: 10px;
}

.mw_bar1 {
	padding: 0px 0px 10px 10px;

  	&[data-ur-state="disabled"] {
	  > .mw_indicator {
	    @extend .sprites-plus;
	  }
	}
	&[data-ur-state="enabled"] {
	  > .mw_indicator {
	    @extend .sprites-minus;
	  }
	}
}

.mw_indicator {
    float: right;
    margin-right: 10px;
}

.mw-product-list {
	list-style-type: none;
	padding: 0;
	margin: 10px;

	li {
		background-color: $product_bg;
		width: 100%;
		min-height: 140px;
		margin-bottom: 10px;
	}
}

.mv_product_details {
	margin-left: 140px;
}

.mw-product-img {
	float: left;
}

.mw_product {
	padding: 10px;
	height: 100%;
}

.color-red {
	color: $red;
}