.mw-h2 {
	text-align: center;
	font-size: 22px;
}

.mw-carousel-item {
	width: $product_width;
	font-size: 14px;
	a {
		color: $dark_grey;
	}
}

[data-ur-set="carousel"] {
  overflow: hidden;
  position: relative;
}
[data-ur-carousel-component="item"] {
  float: left;
}