@mixin toggler1 {
	background-color: $toggler_dark;
	font-family: Arial;
	color: #FFF;
	margin: 5px;
  padding-top: 1px;
  @include rounded-corners;

    ul {
      list-style-type: none;
      background-color: $toggler_light;
      @include border-bottom-radius(7px);
      padding: 0px 0px 5px 0px;
      border-style: solid;
      border-color: $toggler_dark;
      border-width: 1px;

      li {
        background-color: $toggler_light;
        border-top-style: solid;
        border-color: $toggler_dark;
        border-width: 1px;
        padding: 10px;
      }

      a {
        	text-decoration: none;
        	color: $toggler_dark
        }

    }
}

@mixin rounded-corners {
	@include border-top-radius(7px);
  @include border-bottom-radius(7px);
}