// colors
$color1: #B03B01; // header color
$color2: #075899; // link color

// For the togglers
$toggler_dark: #822508;
$toggler_light: #F5F2E2;

// For product descriptions
$product_bg: #F0F0F0;
$product_width: 175px;

// Defined colors
$red: #FF0000;
$dark_grey: #333;
$white: #FFF;